{% extends "base.html" %}
{% load static %}
{% block title %}Faisal's Portfolio | About{% endblock %}
{% block content %}

<br><br><br>
<hr>
<h3 class="text-center">About me</h3>
<hr><br>

<div class="container flow-text">
    <div class="col-12">
        <p> Yevgeniy (Jim) Brikman loves programming, writing, speaking, traveling, and lifting heavy things. He does
            not
            love talking about himself in the 3rd person. He is the co-founder of Gruntwork, a company that provides
            DevOps
            as a Service. He's also the author of two books published by O'Reilly Media: Hello, Startup and Terraform:
            Up &
            Running. Previously, he worked as a software engineer at LinkedIn, TripAdvisor, Cisco Systems, and Thomson
            Financial and got his BS and Masters at Cornell University. For more info, check out his writing, speaking,
            projects, and photos Yevgeniy (Jim) Brikman loves programming, writing, speaking, traveling, and lifting
            heavy things. He does
            not
            love talking about himself in the 3rd person. He is the co-founder of Gruntwork, a company that provides
            DevOps
            as a Service. He's also the author of two books published by O'Reilly Media: Hello, Startup and Terraform:
            Up &
            Running. Previously, he worked as a software engineer at LinkedIn, TripAdvisor, Cisco Systems, and Thomson
            Financial and got his BS and Masters at Cornell University. For more info, check out his writing, speaking,
            projects, and photos.</p>
    </div>
</div>

{% endblock %}